* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #686de0, #130f40);
    width: 100%;
    gap: 1rem;
    transition: all 0.3s;
    user-select: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    transition: all 0.3s;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #7ed6df, #22a6b3);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    color: rgba(0, 0, 0,);

    width: 5rem;
    height: 8rem;
    font-size: 2rem;

    transition: all 0.3s;
}

.done {
    background: rgb(255, 255, 255);
}
